<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="images/tarish.svg" type="image/gif" sizes="16x16">
    <title>Neha Kakkar Live in Grand Musical Concert Sydney 2023</title>
    <link rel="stylesheet" href="css/neha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="headings">
        <h1>Neha Kakkar Live In Grand Musical Concert Sydney 2023</h1>
        <h2>Organised by Tarish Entertainments</h2>
    </div>
   <div class="containers">
        <div class="details">
            <div class="poster">
                <img src="images/nehaposter.jpg">
            </div>
            <div class="text">
                <div class="centerdown">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3naWvhIYja0lJ4H0DoP9MDE30dcbd-uMktDoM5A7FDuLx0w/viewform?usp=sf_link" target="_blank" class="pre-register"><button class="btn-grad">Pre-Register</button></a>
                    <div class="one">
                        <p>Hillsong Convention Centre</p>

                        <p>1-5 Solent Circuit Baulkham Hills</p>
                            
                        <p>NSW 2153</p>
                    </div>
                    <hr>
                    <div class="two">
                        <p>Sat 25th Mar 2023 @ 7:00 PM</p>
                    </div>
                    <hr>
                   
                    <hr>
                </div>
            </div>
        </div>
       
   </div>
</body>
</html>